.ucwp-price-block-widget{
    // variable 
    $ucwp-border-color : #0077B6;

    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 15px;
    * {
        box-sizing: border-box;
        margin: 0;
        padding : 0; 

    }


    > .ucwp-price-block-widget-item {
        position: relative;
        width: 520px;
        height: 260px;
        border : solid 1px $ucwp-border-color;

        > .ucwp-price-block-item-backdrop {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            > .ucwp-pbw-backdrop-icon-holder {
                position: absolute;
                left: -60px;
                width: 200px;
                aspect-ratio: 1/1;
                top:10px;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        > .ucwp-price-block-widget-item-content{
            width: 100%;
            height: 100%;
            position: relative;
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 78% 22%;
            grid-template-areas:
                "item1 item2"
                "item3 item3";

            // div at position 1 is item 1
            > div.ucwp-pbw-empty-holder {
                grid-area: item1;
            }

            > div.ucwp-pbw-market-details-holder {
                grid-area: item2;
                display: flex;
                flex-direction: column;
                gap: 8px;
                justify-content: center;
                align-items: center;

                .ucwp-pbw-price-holder {
                    width: 100%;
                    text-align: center;
                }
            }

            > div.ucwp-pbw-info-holder {
                grid-area: item3;
                width: 100%;
                
            }

        }
    }



}